.home {
  height: 100%;
  width: 100%;
}

.monitor {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  .monitor__body {
    user-select: none;
    caret-color: transparent;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $warmGray-500;
    overflow-y: auto;
    padding: 10px;
    font-size: 1.3rem;
    color: $warmGray-400;
    background: transparent;
    resize: none;
    border-radius: 5px;
    user-select: none;
    font-family: Montserrat;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.footer {
  text-align: center;
  color: $warmGray-500;
  font-family: Poppins;
  user-select: none;

  .footer__author {
    color: $warmGray-300;
    font-weight: 400;
  }
}
